/*GENERAL STYLES START*/

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

body {
    width: 100%;
    font-size: 16px;
}

main,
footer {
    padding: 50px 120px;
}

h1,
h2 {
    font-family: 'Oswald', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/*GENERAL STYLES END*/

.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.pageName{
    /* padding-top: 20px; */
    text-align: center;
}

/* .pageName {
    border-left: 3px solid #01b3e3;
    margin-left: -30px;
    padding-left: 20px;
} */

.pageName h1{
    font-size: 25px;
    padding: 20px 0px;
}

.pageName h3 {
    font-size: 17px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 100;
}

.logo {
    height: 22px;
}

#introTitle {
    background: linear-gradient(160deg, #02ccba, #aa7ecd);
    color: #fff;
    width: 100%;
    padding: 20px;
    text-align: center;
}


#introTitle date {
    padding: 15px 20px;
    background-color: rgba(45, 60, 73, 0.816);
    border-radius: 4px;
    font-size: 1rem;
    box-shadow: 3px 4px 5px 2px rgba(0,0,0,0.15);
}

header #introTitle{
    background: linear-gradient(160deg, #02ccba, #aa7ecd);
    color: #fff;

}

#introTitle h2 {
    font-size: 1.75rem;
    margin-bottom: 30px;
    color: rgba(255, 255, 255, 0.9);
}

#introTitle p {
    font-size: 1.4rem;
    margin-top: 50px;
    line-height: 2rem;
    color: rgba(255, 255, 255, 0.911);
}

main {
    padding-top: 70px;
    color: #2d3c49;
    display: flex;
    align-items: flex-start;
    margin: auto;
    justify-content: center;
    padding-bottom: 100px;
}

.content {
    width: 80%;
    padding-right: 50px;
}

.content .buttons input[type="search"] {
    /* float: right; */
    border-radius: 7px;
    font-size: 20px;
    height: 50px;
    width: 350px;
    padding: 3px 10px;
    border: 1px solid #e5e5e5;
}

.content .buttons button{
    display: flex;
    align-items: center;
    height: 48px;
    font-size: 20px;
    padding: 0px 10px;
    margin-right: 20px;
    border-radius: 7px;
    border: none;
    border-bottom: 5px solid #1ba0a0;
    cursor: pointer;
    background-color: #22bdbe;
    color: #fff;
}


.Question-list .question .catergory {
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.Question-list .question .catergory .catergory-item{
    margin-right: 20px;
    display: flex;
    align-items: center;
}

.Question-list .question .catergory .catergory-item,
.Question-list .question .catergory .catergory-item div{
    float: left;
}

.Question-list .question {
    padding: 10px 0px;
    border-bottom: 2px dashed #e5e5e5;
}

.Question-list .question h3 {
    font-family: monospace;
    font-weight: 100;
    font-size: 18px;
    background-color: #eee;
    border-radius: 10px;
    padding: 15px 20px;
    margin-top: 30px
}

.Question-list .question p {
    text-align: justify;
    padding: 20px 0px;
    font-size: 20px;
}

/*----------------Side Column styles STRART----------------*/

.sideColumn {
    width: 250px;
    /* text-align: right; */
    padding-left: 50px;
    border-left: 1px solid #e5e5e5;
}

.sideColumn .Side-title {
    background-color: #2d3c49;
    color: #fff;
    margin-bottom: 20px;
    padding: 5px 10px;
    /* width: 150px; */
}

.sideColumn .filters .filter-item h3 {
    color: #01b3e3;
}

.sideColumn .filters .filter-item ul {
    margin: 15px 0px;
}

.sideColumn .filters .filter-item ul li {
    display: flex;
    align-items: center;
    margin: 2px 0px;
}

.sideColumn .filters .filter-item ul li .filter-name{
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.sideColumn .filters .filter-item ul li input{
    width: 17px;
    height: 17px;
    float: right;
    /* margin-left: 10px; */
}

.sideColumn .upcoming ul .date {
    padding: 10px;
    border-bottom: 1px dashed #e5e5e5;
}

.sideColumn .upcoming ul li h4 {
    color: #01b3e3;
    font-weight: 100;
}

/*----------------Side Column styles END----------------*/

/*----------------colorCode classes START----------------*/

.circle-margin-right{
    margin-right: 10px;
}
.circle-margin-left{
    margin-left: 10px;
}


.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

#nextAMA {
    color: #d80000;
    border: 2px dashed #d80000;
    border-radius: 10px;
}

.GENERAL {
    width: 15px;
    height: 15px;
    border-radius: 200px;
    background-color: #909090;
    margin: 0px 10px;
}

.TECHNICAL {
    width: 15px;
    height: 15px;
    border-radius: 200px;
    background-color: #7a5190;
    /* margin: 0px 10px; */
}

.FEND {
    width: 15px;
    height: 15px;
    border-radius: 200px;
    background-color: #01b3e3;
    /* margin: 0px 10px; */
}

.MWS {
    width: 15px;
    height: 15px;
    border-radius: 200px;
    background-color: #e34401;
    /* margin: 0px 10px; */
}

.ABND {
    width: 15px;
    height: 15px;
    border-radius: 200px;
    background-color: #6bc136;
    /* margin: 0px 10px; */
}

.AND {
    width: 15px;
    height: 15px;
    border-radius: 200px;
    background-color: #e5d600;
    /* margin: 0px 10px; */
}

/*----------------colorCode classes END----------------*/

/*----------------Footer START----------------*/

footer {
    background-color: #e5e5e5;
    text-align: center;
}

/*----------------Media querys----------------*/

/* @media screen and (min-width:600px) {

    .nav {
        justify-content: space-between;
        align-items: center;
    }

    .pageName {
        border-left: 3px solid #01b3e3;
        margin-left: 0;
        padding-left: 10px;
        width: 60%;
        text-align: center;
    }

    #introTitle {
        position: relative;
        padding: 0;
        padding-bottom: 100px;
        height: 480px;
    }

    #introTitle::after {
        content: '';
        display: block;
        width: 100%;
        position: absolute;
        height: 50px;
        background: #fff;
        transform: skewY(-2deg);
        bottom: -25px;
    }

    #introTitle h2 {
        margin-bottom: 100px;
    }

    #introTitle date {
        margin-top: 10px;
    }

    #introTitle p {
        margin-top: 80px;
        width: 80%;
        margin: 110px auto;
    }

    .logo {
        width: 35%;
        display: inline-block;
        margin-left: 20px;
    }
}

@media screen and (min-width:900px) {

    .logo {
        width: 25%;
    }

    #introTitle p {
        width: 60%;
    }

} */
